body{
	font-family: 'Krona One', sans-serif;
	font-family: 'Roboto Condensed', sans-serif;
	font-family: 'Roboto Mono', monospace;
	font-family: 'Silkscreen', cursive;
}
table tr:nth-child(even) {
	background-color: #777;
	color: #fff; }
	.topnav {
		overflow: hidden;
		background-color: #E6E6E9;
	}

	body {
		background-color: #E6E6E9;
		font-family: "Roboto Mono";
	}

	h1 {
		background-color: #E6E6E9;
		color: #0A0908;
		font-family: "Krona One";
	}

	p {
		color: #0A0908;

	}

	.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 25%;
	}

	* {
		box-sizing: border-box;
	}

	.column {
		float: right;
		width: 33.33%;
		padding: 5px;
	}

	/* Clearfix (clear floats) */
	.row::after {
		content: "";
		clear: both;
		display: table;
	}

	footer {
		text-align:center;
		background-color: #577590;
		text-align: center;
		padding: 10px;
	  }
	  