<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Krona+One&family=Roboto+Condensed:wght@300;400;700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Silkscreen&display=swap"
		rel="stylesheet">
	<script src="../scripts/dynamicLoader.js"></script>
	<link rel="stylesheet" href="../styles/default.css">
	<title>David Bautista's Dynamic Bull Home Page</title>
</head>

<body>
	<!-- Placeholder for header -->
	<header>
		<div class="topnav">
			<div style="text-align:center">
				<a class="active" href="../itis3135/index.html" style="color:#9395D3;"> Home |</a>
				<a href="../itis3135/tables.html" style="color:#9395D3;"> Tables |</a>
				<a href="../itis3135/forms.html" style="color:#9395D3;"> Forms |</a>
				<a href="../itis3135/website_evaluations.html" style="color:#9395D3;"> Website Evaluations |</a>
				<a href="../itis3135/CRAPPYW3BAG3/THE-CHEESE:).htm" style="color:#9395D3;"> Crappy Webpage |</a>
				<a href="../itis3135/hobby/index.html" style="color:#9395D3;"> My Hobbies |</a>
				<a href="../itis3135/clientProject/project1.html" style="color:#9395D3;"> Client Project |</a>
				<a href="../itis3135/contract.html" style="color:#9395D3;"> Contract Page |</a>
				<a href="../itis3135/first-scripts.html" style="color:#9395D3;"> First Scripts Page |</a>
				<!-- Placeholder for header -->
				<a href="../itis3135/byo_intro.html" style="color:#9395D3;"> Build Your Own Page |</a>
				<a href="../itis3135/emmet.html" style="color:#9395D3;">Emmet Page |</a>
				<a href="../itis3135/calculator_try.html" style="color:#9395D3;">Calculator Page |</a>

			</div>
		</div>
		<h1>David Bautista's Web App Design and Development</h1>
	</header>
</body>

</html>